#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
     cristiancespedes:sesamo  
  expire: false

users:
  - name: cristiancespedes
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDDJYyQJ96dAUlhj7Pn5m0+yF/jNprUhBUcmPFl5ns+tNAHv130RRPcSo0KaAD11i5KUjl1uO1a+3qKXsrU8z9fLV+kmRerjT2bxQuqW4txSCaxCNLmWvIQdwD2YoBIa3GGRj3EOTf8UHpY1TBdn6Ruf6bIrDORxr71Ug3vJoOhBFA3DMXDoBOYal2+WFL++TWqPswoYo8pgdwMhcSGKYHQ5HiPCiIfwHuOHOBUKpHI7heeAchqjhlYcJ3YbJdWli7fuN0d0tmuGm/ABcFv36y/yAKAnU/37bLwctvClxYOTVjBTE3+0YJgTcuItGYPxUi/1dLwvbiQ45D7TjJOVyyKT/POpBersr4gXWTo91UGMn5HY7lXpydqddk2O76F7NiSgUMNqwkYYzoZ+yKPfc/i4v9ivNcHwh5vH0AnApNy38FD05By3TVG5IvPYLgoIq9OH6T8UF7Yvc1CApnQXCnuHxQ/N7wEn2X+MoLeb0i4zgAR1LyPpxvnZIm6K043+50= cristian@cristiancespedes
    shell: /bin/bash
    groups: sudo
